.user-gallery {
  width: 100%;

  h1 {
    @media (max-width: 700px) {
      font-size: 2.2em;
    }
  }

  > .items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;

    @media (min-width: 701px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  > .heading + .items {
    margin-top: 32px;
  }
}
